/* variables for commonly used colours */
:root {
  --background-color: #262626;
  --header-bkgrnd-color: #003366;
  --orange-text: #ff6600;
  --blue-text: #0080ff;
}

html, body {
  height: 100%;
  margin: 0;
  font-family: 'JetBrains Mono', monospace;
  background-color: var(--background-color);
  color: #ffffff;
}

/* Element Selectors */

/* styling for navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--header-bkgrnd-color);
  padding: 10px 20px 10px 20px;
  top: 0;
  width: 100%;
}

h1 {
  font-family: "Orbitron", sans-serif;
  color: #fff;
  text-shadow: 5px 5px 10px var(--blue-text);
  text-transform: uppercase;
  letter-spacing: 10px;
}

h2 {
  padding: 30px;
  color: #fff;
  text-align: left;
}
/* styling for the footer */
footer {
  display: block;
  padding: 20px;
  background: linear-gradient(to bottom, var(--header-bkgrnd-color) 0%, var(--background-color) 50%);
}

footer h3 {
  color: var(--orange-text);
  text-align: center;
}

/* Class Selectors */



.btn:hover {
  color: var(--blue-text);
}

.form {
  padding: 0px 30px 30px 30px;
}

.menu {
  padding: 20px;
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  text-transform: uppercase;
}

.menu:hover {
  background-color: var(--background-color);
  color: var(--blue-text);
  border: 2px solid var(--orange-text);
}

/* .menu:active {
  color: var(--orange-text);
  border: 2px solid var(--blue-text);
} */

.activemenu {
  color: var(--orange-text);
  text-shadow: 1px 1px 5px var(--blue-text);
}

/* flexbox grid and styling. used flexbox to make the grid responsive without a media query. */
.projects-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.projects-grid div {
  background-color: var(--header-bkgrnd-color);
  color: #fff;
  border-radius: 5px;
  box-shadow: 2px 4px 7px var(--background-color);
  text-decoration: none;
  margin: 10px 30px 30px 30px;
  padding-bottom: 10px;
}

.projects-grid div:hover {
  box-shadow: 3px 5px 7px var(--orange-text);
}

.projects-grid div:active {
  box-shadow: 3px 5px 7px var(--blue-text);
}

.project-image {
  min-height: 50px;
  max-height: 300px;
  width: auto;
}

.projects-grid div a {
  color: var(--orange-text);
  text-decoration: none;
  margin: 10px;
}

.projects-grid div a:hover {
  color: var(--blue-text);
  text-decoration: none;
  margin: 10px;
}

.material-icons {
  font-size: 15px !important;
  color: #fff;
  display: none;
}

.projects-grid a:hover .material-icons {
  color: var(--orange-text);
  display: inline-block;
}

.profile {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.profile a {
  padding: 10px;
  text-decoration: none;
  color: #fff;
  transition: border-color 0.2s ease-in-out;
}

.profile a:hover {
  border: 2px solid;
  border-color: var(--orange-text);
  border-radius: 3px;
  color: var(--blue-text);
}

.profile a:active {
  color: var(--orange-text);
  border: 2px solid var(--blue-text);
}

.github-logo {
  filter: brightness(50%);
}

.github-logo:hover {
  filter: brightness(100%);
}

.resume {
  padding: 30px;
}

.resume h2 {
  padding: 0px 0px 30px 0px;
}

.resume > p > a {
  text-decoration: none;
  color: #fff;
  filter: brightness(50%);
}

.resume > p > a:hover {
  color: var(--orange-text);
  filter: brightness(100%);
}

/* ID Selectors */

#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top right, #404040 0%, var(--background-color) 100%);
  text-align: center;
  padding: 10px 100px 10px 100px;
  color: #fff;
}

#about > h5 {
  padding: 10px;
  color: var(--blue-text);
}

#work {
  background: linear-gradient(to top right, #404040 0%, var(--background-color) 100%);
  padding: 0px 50px 30px 50px;
  text-align: center;
}

/* media query to make navbar and footer responsive at a smaller screen size */
@media screen and (max-width: 800px) {
  nav, footer {
      display: flex;
      flex-direction: column;
  }

  .profile {
      flex-direction: column;
  }

  .projects-grid div {
    margin: 0px;
    padding: 10px;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  padding: 25px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 30s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
